{% extends 'base.html' %}
{% block title %} Lista Projeto {% endblock%}
{%load static%}

{% block content %}

<!--Link do BotsTrap-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Link CSS-->
<link rel="stylesheet" href="{% static 'css/lista_contratos.css' %}">

<body style="background-color:  #dcd9d4;">
    <div class="retangulo fixed-top" style="margin-top: 3.2%;">
        <div id="ret1">Informações sobre Ordens de Serviço e Projetos</div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawOSChart);
      google.charts.setOnLoadCallback(drawProjetoChart);
      google.charts.setOnLoadCallback(drawValoresChart);

      //GRAFICO OS
      function drawOSChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Situação');
        data.addColumn('number', 'Quantidade');
        data.addRows([
          ['Ativas', {{os_Pendentes}}],
          ['Inativas', {{os_inativas}}],
          ['Concluídas', {{os_Finalizadas}}],
          ['Conluídas nos últimos 30 dias', {{os_FinalizadosRecentes}}],
        ]);

        var options = {title:'ORDENS DE SERVIÇO',
                       width:550,
                       height:350};

        var chart = new google.visualization.PieChart(document.getElementById('os_div'));
        chart.draw(data, options);
      }

      // grafico projeto
      function drawProjetoChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Situação');
        data.addColumn('number', 'Quantidade');
        data.addRows([
          ['Ativos', {{projetos_pendentes}}],
          ['Inativos', {{projetos_inativos}}],
          ['Concluídos', {{projetos_finalizados}}],
          ['Conluídos nos últimos 30 dias', {{prjetos_finalizados_recentes}}],
        ]);

      
        var options = {title:'PROJETOS',
                       width:550,
                       height:350};

        
        var chart = new google.visualization.PieChart(document.getElementById('projeto_div'));
        chart.draw(data, options);
      }

      // grafico valores
      function drawValoresChart() {
        var data = google.visualization.arrayToDataTable([
        
        ["MÊS", "VALOR DO CONTRATO", { role: "style" }],
        
        {% for valor in valor_projetos %}

            ['{{valor.n_contrato}}', {{valor.valor_global_contrato}}, '{{valor.cor}}'],

        {% endfor %}

        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                        2]);

        var options = {
        title: "VALORES REFERENTES Á PROJETOS EM ABERTO",
        width:550,
        height:450,
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("valores_div"));
        chart.draw(view, options);
    }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns" style="margin: 10%; margin-bottom: 3%; align-items: center; margin-left: auto; margin-right: auto;">
      <tr>
        <td><div id="os_div" style="border: 5px solid #D8752E; width:100%"></div></td>
        <td><div id="projeto_div" style="border: 5px solid #D8752E; margin-left: 5%; width:100%;"></div></td>
      </tr>
      <tr>
        <td><div id="valores_div" style="margin-top: 8%; margin-left: 50%; border: 5px solid #D8752E; width:100%"></div></td>

      </tr>
    </table>

  </body>
{% endblock %}