body{
    background-color: #aaa9a9;
    font-family: 'Inder', sans-serif;
}

img{
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

#navbar_menu{
    background-color:  #e4e3e3;
}

.nav-link{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
}

#navbar-items{
    display: flex;
    justify-content: center;
    width: 100%;
}  

#nav-brand{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
}

.nav-link:hover, .nav-link:active{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #D8752E;
}