{% extends 'base.html' %}
{% block title %} tela inicial {% endblock%}
{%load static%}

{% block content %}
<!-- TELA DE APRESENTAÇÃO -->

<!--Link do BotsTrap-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Link CSS--> 
<link rel="stylesheet" href="{% static 'css/inicio_lc.css' %}">
<link rel="stylesheet" href="{% static 'css/inicio_resp_lc.css' %}">

<title>Sistema de Gerenciamento de Contratos e Ordens de Serviços</title>

<body>
    <!-- Código para barra de navegação -->
    <nav class="navbar">
        <div class="logo">
            <h1>SiGCOS</h1>
        </div>

        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Suporte</a>
            <a id="botao" href="#">Sair</a>
        </div>  
    </nav>

    <!-- código para o corpo do site -->
    <header class="header" >
        <div class="headline">
            <h2 style="font-size: 65px" >Bem-vindo(a) ao SiGCOS!</h2>
            <p>Agilize suas metas com nosso Sistema de Gerenciamento de Contratos e Ordens de Serviço!</p>
            <a href="#" class="contact-btn">Saiba mais</a>
        </div>
        
        <div class="img-headline">
            <img style="max-width: 100%;" src="/static/png/mulher-de-negocios.jpg">
        </div>
        
    </header>

    <!-- Código para os cards -->
    <section>
        <h2>Veja o que podemos fazer!</h2>
        <div class="servicos" >
            <div class="card">
                <img src="/static/png/contrato.png">
                <h3>Agilize Contratos</h3>
                <p>Elabore contratos mais rápido com nosso software ágil!</p>
            </div>

            <div class="card">
                <img src="/static/png/fluxograma.png">
                <h3>Mantenha-se Organizado</h3>
                <p>Organize demandas e fluxos de projetos de forma simplificada!</p>
            </div>

            <div class="card">
                <img src="/static/png/pranchetas.png">
                <h3>Controle Total</h3>
                <p>Controle vencimentos e renovações de contratos com mais facilidade!</p>
            </div>
        </div>
    </section>

    <!-- código para o rodapé do site -->
    <footer>
        <div class="logo-rodape"> 
            <img class="logosig" src="/static/png/Logo_SiGCOS.png">
            <h1 class="legenda">Conheça nossa equipe!</h1>
            <p style="color:white">Site desenvolvido por <br>
                Lariane Lima <br>
                Lucas Cardoso<br>
                Matheus Saldanha <br>
                Micaías Oliveira <br>
            </br>
        </div>
        <b class="listra" style="color:white"; >Universidade Federal Rural da Amazônia | Copyright © 2023 | UFRA.</b>
    </footer>

</body>
</html>

{% endblock%}