{% extends 'base.html' %}
{% block title %} tela inicial {% endblock%}
{%load static%}

{% block content %}
<!-- TELA DE APRESENTAÇÃO -->

<!--Link do BotsTrap-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Link CSS--> 
<link rel="stylesheet" href="{% static 'css/inicio_lc.css' %}">

<title>Sistema de Gerenciamento de Contratos e Ordens de Serviços</title>

<body>
    <header class="header" style="margin-bottom:0% ;" >
        <div class="headline">
            <h2 style="font-size: 40px" >Bem-vindo(a) ao SiGCOS!</h2>
            <p>Agilize suas metas com nosso Sistema de Gerenciamento de Contratos e Ordens de Serviço!</p>
            <h2 style="font-size: 40px" >Objetivos do Projeto</h2>
            <p>Desenvolver um software para a Gestão de Contratos e Ordens de Serviços, responsável por automatizar a criação, o rastreamento e o monitoramento de contratos e outros tipos de acordos, bem como, as ordens de serviços decorrentes de cada contrato;
                Produzir os documentos do software, incluindo o Escopo do Projeto, que contém a visão geral e a finalidade do software que será desenvolvido, o Processo de Software a ser seguido para construção do software, assim como o Documento de Requisitos e Casos de Uso, culminando na definição da Arquitetura de Software do sistema;
                Gerar um Wireframe com as funções a serem executadas pelo sistema para a aprovação do cliente;
                Planejar e realizar as Sprints que servirão como guia para a implementação do projeto; 
                Verificar e validar o sistema em conjunto com o cliente a fim de verificar se o que foi desenvolvido está de acordo com o que foi proposto.
                </p>
        </div>
        
        <div class="img-headline">
            <img style="width: 80%; height: 75%; margin-left: 20%;" src="{% static 'png/BG.png' %}">
        </div>
        
    </header>
    <!-- código para o rodapé do site -->
    <footer style="margin-top: 0%;">
        <div class="logo-rodape"> 
            <img class="logosig" src="/static/png/Logo_SiGCOS.png"  style="height: 13%;">
            <h1 class="legenda">Conheça nossa equipe!</h1>
            <p style="color:white">Site desenvolvido por <br>
                Lariane Lima <br>
                Lucas Cardoso<br>
                Matheus Saldanha <br>
                Micaías Oliveira <br>

        </div>
        <b class="listra" style="color:white"; >Universidade Federal Rural da Amazônia | Copyright © 2023 | UFRA.</b>
    </footer>

</body>
</html>

{% endblock%}